* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background: #f5f5f5;
}
.container {
  display: flex;
}
.chartscontainer {
  margin: 2.5rem 6rem;
  width: 100%;
  width: 700px;
}
.chart {
  background-color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  margin-bottom: 1rem;
  border-radius: 10px;
}
@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
